{
	"presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7","IE >= 9"]
			},
			"modules": false,
			"debug": false,
      "include": [],
      "useBuiltIns": true
		}],
		"stage-0",
		"flow"
  ],
	"plugins": [
		[
		  "component",
		  {
			"libraryName": "element-ui",
			"styleLibraryName": "theme-chalk"
			}
		]
	  ]
}