h1 {
  color: #999;
}

li {
  list-style: none;
}

/* utils */
/* .noBorder {
  border: none !important;
}
input[readonly='readonly'] {
  border: none !important;
}
input[readonly='readonly']:focus {
  border: none !important;
  box-shadow: none !important;
}
textarea[readonly='readonly'] {
  border: none !important;
}
textarea[readonly='readonly']:focus {
  border: none !important;
  box-shadow: none !important;
} */
